:root {
  --loadingBg: #aaaaaa;
  --homeBg: #121312;
  --header: #333333;
  --headerText: #ffffff;
}

.loading, header nav, header nav picture, header nav ul, .home, .home .home__columnTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: 'Nerko One', cursive;
  overflow-x: hidden;
}

.loading {
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: var(--loadingBg);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.loading svg {
  overflow: visible;
  height: 60%;
}

.loading svg #animateUp {
  -webkit-animation: rise 2s infinite ease-in-out alternate;
          animation: rise 2s infinite ease-in-out alternate;
}

.loading svg .bubbles {
  -webkit-animation: bubble 2s infinite ease-in-out alternate;
          animation: bubble 2s infinite ease-in-out alternate;
}

.loading svg .bubbles:nth-of-type(2n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes rise {
  to {
    -webkit-transform: translateY(-5.5%);
            transform: translateY(-5.5%);
  }
}

@keyframes rise {
  to {
    -webkit-transform: translateY(-5.5%);
            transform: translateY(-5.5%);
  }
}

@-webkit-keyframes bubble {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.5;
  }
}

@keyframes bubble {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.5;
  }
}

header {
  position: absolute;
  top: 1000vh;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: var(--header);
  z-index: 2;
}

header svg {
  z-index: 1;
  width: 100vw;
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header svg path {
  fill: var(--header);
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

header nav picture {
  margin-top: 2%;
  width: 30%;
}

header nav picture img {
  width: 100%;
}

header nav ul {
  width: 60%;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  background-size: cover;
  color: var(--headerText);
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.heroVideo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.heroVideo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home {
  position: absolute;
  top: 1000vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: var(--homeBg);
}

.home .home__columnOne,
.home .home__columnTwo {
  width: 50%;
  height: 100%;
}

.home .home__columnTwo .home__text {
  color: var(--headerText);
  font-size: 10rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
  z-index: 2;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
/*# sourceMappingURL=style.css.map */